version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=sqlite:///students.db
    command: python -m flask run --host=0.0.0.0
    
  db:
    image: nouchka/sqlite3
    volumes:
      - db-data:/data

volumes:
  db-data:
    driver: local